.vs/
*.suo
.doc/
obj/
bin/
help/
*.csproj.user
# Documentation files. Get generated on build and in the packages.
src/Restless.Toolkit/Restless.Toolkit.xml
src/Restless.Toolkit.Core/Restless.Toolkit.Core.xml
